.card-style {
  margin: 0 50px 0 50px;
  border-radius: 25px;
}

.img-mar {
  margin: 0 50px 0 50px;
  /* width: 60px; */
  height: 60px;
}

.col-padder {
  padding: 50px;
}

@media (max-width: 1024px) {
  .col-padder {
    padding: 10px;
  }
  .card-style {
    margin: 0 10px 0 10px;
    border-radius: 25px;
  }
}
