a {
  text-decoration: none;
}
.form-div {
  border-radius: 0.5rem;
  background: #dfe3e8;
  font: 400;
  padding: 25px;
}
.hero-div {
  padding: 100px;
}
.hero-internal {
  padding: 50px;
}
.foot {
  background: #dfe3e8;
  padding: 10px;
}
@media (max-width: 991px) {
  .hero-internal {
    padding: 10px;
  }
  .hero-div {
    padding: 25px;
  }
  .form-div {
    /* border: 2px solid red; */
    border-radius: 0.5rem;
    background: #dfe3e8;
    font: 400;
    padding: 25px;
  }
}
