<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Get counselling for multiple MBA courses from over 1000 Colleges in India.">
  <title>MBA Colleges</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="stylesheet" href="CSS/index.css" />
  <link rel="stylesheet" href="CSS/card-parent.css">
  <link rel="stylesheet" href="CSS/navbar.css">
  <link rel="stylesheet" href="CSS/search-comp.css">
</head>

<body>
  <main>
    <!-- NavBar Start -->
    <nav class="navbar navbar-expand-lg bg-body-secondary">
      <div class="container-fluid d-flex justify-content-around">
        <!-- LOGO START -->
        <a class="navbar-brand" href="#">MBA Colleges</a>
        <!-- LOGO END -->
        <!-- CONTACT DIVS START -->
        <div class="d-flex justify-content-end">
          <!-- RESPONSIVE SIDEBAR FOR MOBILE START -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg"
            aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg"
            aria-labelledby="navbarOffcanvasLgLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="container">
              <div class="navbar-nav d-flex justify-content-around contact-group offcanvas-body row">
                <!-- CONTACT - EMAIL START -->
                <p class="col input-group">
                  <a href="mailto:help@email.com" class="form-control fs-6 fw-lighter font-monospace">&#9993;help</a>
                </p>
                <!-- CONTACT - EMAIL END -->
                <!-- CONTACT - PHONE START -->
                <p class="col input-group">
                  <a href="tel:7654321980" class="form-control fs-6 fw-lighter font-monospace">&#9990;help</a>
                </p>
                <!-- CONTACT - PHONE END -->
              </div>
            </div>
          </div>
        </div>
        <!-- CONTACT DIVS END -->
      </div>
    </nav>
    <!-- NavBar End -->
    <div class="bg-body-tertiary">
      <section id="hero">
        <!-- Carousel as hero Start -->
        <div class="container-fluid">
          <div class="row hero-internal">
            <div class="col-lg-8 hero-div">
              <div>
                <div class="card-body">
                  <div class="card-title">
                    <h3>Online MBA Degrees from World's top B-schools</h3>
                  </div>
                  <div class="card-text">
                    <p>
                      Fast-forward your career with a coveted MBA degree. Get access to programs from recognised
                      universities across the world.
                    </p>
                    <ul>
                      <li>
                        AICTE, WES recognised & AACSB accredited
                      </li>
                      <li>
                        MBA programs with Specialisations
                      </li>
                      <li>
                        50% Average Hike across MBA programs
                      </li>
                    </ul>
                  </div>
                  <div class="d-flex">
                    <!-- BUTTON 1 : MODAL LAUNCHER : MODAL-1 START -->
                    <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal"
                      data-bs-target="#registerModal">
                      Get Free Career Counselling
                    </button>
                    <!-- BUTTON 1 : MODAL LAUNCHER : MODAL-1 END -->
                    <!-- BUTTON 2 : FORM-2 HIGHLIGHTER START -->
                    <a href="#formTwo" class="btn btn-outline-success ms-2" target="_parent"
                      rel="noopener noreferrer" id="courseFormLnk" onclick="campaignHighlighter();return false">Contact Form</a>
                    <!-- BUTTON 2 : FORM-2 HIGHLIGHTER END -->
                  </div>
                  <!-- MODAL : MODAL-1 START -->
                  <div class="modal fade" id="registerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="registerModalLabel">
                    <div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down">
                      <div class="modal-content">
                        <button type="button"
                          class="btn-close d-flex flex-column-reverse align-self-end me-2 mt-2 close-btn"
                          data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="modal-body">
                          <form id="counsellingForm">
                            <div class="mb-3">
                              <label for="counsellingInputName" class="form-label"></label>
                              <div class="input-group">
                                <span class="input-group-text">&#128100;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input type="text" class="form-control" id="counsellingInputName"
                                  name="counsellingInputName" aria-describedby="nameHelp" placeholder="Name"
                                  aria-placeholder="enter-name">
                              </div>
                            </div>
                            <div class="mb-3">
                              <label for="counsellingInputEmail" class="form-label"></label>
                              <div class="input-group">
                                <span class="input-group-text">&#9993;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input type="email" class="form-control" id="counsellingInputEmail"
                                  name="counsellingInputEmail" aria-describedby="emailHelp" placeholder="Email"
                                  aria-placeholder="enter-email">
                              </div>
                            </div>
                            <div class="mb-3">
                              <label for="counsellingInputPhone" class="form-label"></label>
                              <div class="input-group">
                                <span class="input-group-text">(+91)</span>
                                <input type="tel" class="form-control" id="counsellingInputPhone"
                                  name="counsellingInputPhone" placeholder="Phone No" aria-placeholder="enter-phone">
                              </div>
                            </div>
                            <div class="mb-3">
                              <label for="counsellingInputCity" class="form-label"></label>
                              <div class="input-group">
                                <span class="input-group-text">&#127760;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input type="search" class="form-control" id="counsellingInputCity"
                                  name="counsellingInputCity" list="cities" placeholder="City"
                                  aria-placeholder="enter-city">
                                <datalist id="cities">
                                  <option value="Delhi NCR"></option>
                                  <option value="Pune"></option>
                                  <option value="Mumbai"></option>
                                  <option value="Hyderabad"></option>
                                  <option value="Chennai"></option>
                                  <option value="Bangalore"></option>
                                  <option value="Kolkata"></option>
                                  <option value="Shimla"></option>
                                  <option value="Chandigarh"></option>
                                  <option value="Lucknow"></option>
                                </datalist>
                              </div>
                            </div>
                            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                          </form>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" onclick="getUserDetails()">Continue <svg
                              width="17" height="14" viewBox="0 0 17 14" fill="currentColor"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.0867 6.9999C16.0867 7.14542 16.0244 7.2844 15.9208 7.38904L10.3176 12.8387C10.0963 13.054 9.73799 13.0535 9.51724 12.8387C9.29592 12.624 9.29592 12.2752 9.51724 12.0604L14.1548 7.55037L1.65271 7.55037C1.34025 7.55037 1.08667 7.30402 1.08667 6.9999C1.08667 6.69577 1.34025 6.44942 1.65271 6.44942L14.1542 6.44942L9.51724 1.93935C9.29592 1.72461 9.29648 1.37579 9.51724 1.16105C9.73856 0.946315 10.0969 0.946315 10.3176 1.16105L15.9208 6.61075C16.0267 6.71376 16.085 6.85547 16.0867 6.9999Z"
                                fill="#B0BEC5" stroke="#B0BEC5" stroke-width="0.5" stroke-linecap="round"></path>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- MODAL : MODAL-1 END -->
                </div>
              </div>
            </div>
            <div class="col-lg-4 form-div" id="formTwo">
              <h3 class="text-center">MBA Coaching</h3>
              <form id="registrationForm">
                <div class="mb-3">
                  <!-- Possibly a Dropdown -->
                  <label for="registrationInputCourse" class="form-label"></label>
                  <input type="text" class="form-control" id="registrationInputCourse" aria-describedby="courseHelp"
                    name="registrationInputCourse" placeholder="Course" aria-placeholder="enter-course">
                </div>
                <div class="row mb-3 border border-dark-subtle rounded p-2">
                  <div class="col-sm mb-1">
                    <small>Preferred Budget</small>
                    <label for="minFees" class="form-label"></label>
                    <div class="input-group">
                      <span class="input-group-text">&#8377;</span>
                      <input type="number" name="minFees" id="minFees" class="form-control"
                        aria-describedby="minFeesHelp" placeholder="Min" aria-placeholder="enter-min-fees">
                    </div>
                  </div>
                  <div class="col-sm mb-1">
                    <label for="maxFees" class="form-label"></label>
                    <div class="input-group">
                      <span class="input-group-text">&#8377;</span>
                      <input type="number" name="maxFees" id="maxFees" class="form-control"
                        aria-describedby="maxFeesHelp" placeholder="Max" aria-placeholder="enter-max-fees">
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="registrationInputCity" class="form-label"></label>
                  <input type="search" class="form-control" id="registrationInputCity" name="registrationInputCity"
                    list="cities" placeholder="&#127760; City" aria-placeholder="enter-preferred-city">
                  <datalist id="cities">
                    <option value="Delhi NCR"></option>
                    <option value="Pune"></option>
                    <option value="Mumbai"></option>
                    <option value="Hyderabad"></option>
                    <option value="Chennai"></option>
                    <option value="Bangalore"></option>
                    <option value="Kolkata"></option>
                    <option value="Shimla"></option>
                    <option value="Chandigarh"></option>
                    <option value="Lucknow"></option>
                  </datalist>
                </div>
                <div class="mb-3">
                  <label for="registrationInputCourses" class="form-label">Specialization Field</label>
                  <select class="form-control" name="registrationInputCourses" id="registrationInputCourses" multiple
                    aria-multiline="true" aria-placeholder="enter-preferred-courses">
                    <option value="Finance - MBA">Finance - MBA</option>
                    <option value="IT - MBA">IT - MBA</option>
                    <option value="HR - PGDM">HR - PGDM</option>
                    <option value="Energy - MBA">Energy - MBA</option>
                  </select>
                </div>
                <div class="mb-3 me-3 d-flex justify-content-end">
                  <button type="button" class="btn btn-primary" onclick="getCampaignFormDetails()">Submit -></button>
                </div>

              </form>
            </div>
          </div>
        </div>
        <!-- Carousel as hero End -->
      </section>
      <!-- Search Element for Colleges Start -->
      <section id="search-colleges">

        <div class="col-padder">
          <p class="text-start mb-0">UNIVERSITY PARTNERS</p>
          <p class="text-start fs-2">Learn from <small class="text-success-emphasis">Top University Partners</small>
          </p>
          <div class="card-style d-flex justify-content-evenly align-items-center">
            <!-- SEARCH BAR & SEARCH BUTTON START -->
            <label for="searchColleges"></label>
            <input type="search" name="searchColleges" id="searchColleges" class="form-control search-box"
              aria-describedby="searchColleges" aria-placeholder="Search Colleges">
            <a href target="_parent" class="btn btn-outline-primary search-btn" onclick="return false;" rel="noopener noreferrer"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg></a>
            <!-- SEARCH BAR & SEARCH BUTTON END -->
          </div>
        </div>
      </section>
      <!-- Search Element for Colleges End -->
    </div>
    <footer>
      <div class="container-fluid foot text-center fw-lighter">
        <span>&copy;</span> Collegedunia 2023
      </div>
    </footer>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="../controller/registrationForm.js"></script>
</body>

</html>