<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MBA Colleges</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="stylesheet" href="CSS/index.css" />
  <link rel="stylesheet" href="CSS/card-parent.css">
  <link rel="stylesheet" href="CSS/navbar.css">
</head>

<body>
  <main>
    <!-- NavBar Start -->
    <nav class="navbar navbar-expand-lg bg-body-secondary">
      <div class="container-fluid d-flex justify-content-around">
        <!-- LOGO START -->
        <a class="navbar-brand" href="#">MBA Colleges</a>
        <!-- LOGO END -->
        <!-- CONTACT DIVS START -->
        <div class="d-flex justify-content-end">
          <!-- RESPONSIVE SIDEBAR FOR MOBILE START -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg"
            aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg"
            aria-labelledby="navbarOffcanvasLgLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="container">
              <div class="navbar-nav d-flex justify-content-around contact-group offcanvas-body row">
                <!-- CONTACT - EMAIL START -->
                <p class="col input-group">
                  <a href="mailto:help@email.com" class="form-control fs-6 fw-lighter font-monospace">&#9993;help</a>
                </p>
                <!-- CONTACT - EMAIL END -->
                <!-- CONTACT - PHONE START -->
                <p class="col input-group">
                  <a href="tel:7654321980" class="form-control fs-6 fw-lighter font-monospace">&#9990;help</a>
                </p>
                <!-- CONTACT - PHONE END -->
              </div>
            </div>
          </div>
        </div>
        <!-- CONTACT DIVS END -->
      </div>
    </nav>
    <!-- NavBar End -->
    <div class="bg-body-tertiary">
      <section id="hero">
        <!-- Carousel as hero Start -->
        <div class="container-fluid">
          <div class="row hero-internal">
            <div class="col-lg-8 hero-div">
              <div>
                <div class="card-body">
                  <div class="card-title">
                    <h3>Online MBA Degrees from World's top B-schools</h3>
                  </div>
                  <div class="card-text">
                    <p>
                      Fast-forward your career with a coveted MBA degree. Get access to programs from recognised
                      universities across the world.
                    </p>
                    <ul>
                      <li>
                        AICTE, WES recognised & AACSB accredited
                      </li>
                      <li>
                        MBA programs with Specialisations
                      </li>
                      <li>
                        50% Average Hike across MBA programs
                      </li>
                    </ul>
                  </div>
                  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#registerModal">
                    Get Free Career Counselling
                  </button>
                  <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel">
                    <div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="registerModalLabel">Sign Up or Login</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          
                          <form id="counsellingForm">
                            <div class="mb-3">
                              <label for="counsellingInputName" class="form-label"></label>
                              <div class="input-group">
                                <span class="input-group-text">&#128100;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input type="text" class="form-control" id="counsellingInputName" name="counsellingInputName" aria-describedby="nameHelp"
                                  placeholder="Name" aria-placeholder="enter-name">
                              </div>
                            </div>
                            <div class="mb-3">
                              <label for="counsellingInputEmail" class="form-label"></label>
                              <div class="input-group">
                                <span class="input-group-text">&#9993;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input type="email" class="form-control" id="counsellingInputEmail" name="counsellingInputEmail" aria-describedby="emailHelp"
                                  placeholder="Email" aria-placeholder="enter-email">
                              </div>
                            </div>
                            <div class="mb-3">
                              <label for="counsellingInputPhone" class="form-label"></label>
                              <div class="input-group">
                                <span class="input-group-text">(+91)</span>
                                <input type="tel" class="form-control" id="counsellingInputPhone" name="counsellingInputPhone"
                                  placeholder="Phone No" aria-placeholder="enter-phone">
                              </div>
                            </div>
                            <div class="mb-3">
                              <label for="counsellingInputCity" class="form-label"></label>
                              <div class="input-group">
                                <span class="input-group-text">&#127760;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input type="search" class="form-control" id="counsellingInputCity" name="counsellingInputCity" list="cities"
                                  placeholder="City" aria-placeholder="enter-city">
                                  <datalist id="cities">
                                    <option value="Delhi NCR"></option>
                                    <option value="Pune"></option>
                                    <option value="Mumbai"></option>
                                    <option value="Hyderabad"></option>
                                    <option value="Chennai"></option>
                                    <option value="Bangalore"></option>
                                    <option value="Kolkata"></option>
                                    <option value="Shimla"></option>
                                    <option value="Chandigarh"></option>
                                    <option value="Lucknow"></option>
                                  </datalist>
                              </div>
                            </div>
                            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                          </form>
                  
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" onclick="validatePhone()">Continue <svg width="17" height="14"
                              viewBox="0 0 17 14" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.0867 6.9999C16.0867 7.14542 16.0244 7.2844 15.9208 7.38904L10.3176 12.8387C10.0963 13.054 9.73799 13.0535 9.51724 12.8387C9.29592 12.624 9.29592 12.2752 9.51724 12.0604L14.1548 7.55037L1.65271 7.55037C1.34025 7.55037 1.08667 7.30402 1.08667 6.9999C1.08667 6.69577 1.34025 6.44942 1.65271 6.44942L14.1542 6.44942L9.51724 1.93935C9.29592 1.72461 9.29648 1.37579 9.51724 1.16105C9.73856 0.946315 10.0969 0.946315 10.3176 1.16105L15.9208 6.61075C16.0267 6.71376 16.085 6.85547 16.0867 6.9999Z"
                                fill="#B0BEC5" stroke="#B0BEC5" stroke-width="0.5" stroke-linecap="round"></path>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 form-div text-center">
              Register Now
              <form id="registrationForm">
                <div class="mb-3">
                  <label for="registrationInputEmail" class="form-label"></label>
                  <input type="email" class="form-control" id="registrationInputEmail" aria-describedby="emailHelp"
                    placeholder="Enter your Email" aria-placeholder="enter-email">
                </div>
                <div class="mb-3">
                  <label for="registrationInputPassword" class="form-label"></label>
                  <input type="password" class="form-control" id="registrationInputPassword"
                    placeholder="Enter Password" aria-placeholder="enter-password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <!-- Carousel as hero End -->
      </section>
      <!-- Marquee parent div Start -->
      <section id="marquee">
        <div class="container-fluid card-parent">
          <div class="row row-cols-1">
            <div class="col col-padder">
              <p class="text-start mb-0">UNIVERSITY PARTNERS</p>
              <p class="text-start fs-2">Learn from <small class="text-success-emphasis">Top University Partners</small>
              </p>
              <div class="card card-style">
                <div class="card-body">
                  <marquee behavior="scroll" direction="left" scrollamount="3" class="d-flex justify-content-evenly">
                    <img src="../public/imgs/img1.png" alt="Image 1" height="100"
                      class="img-fluid img-thumbnail img-mar">
                    <img src="../public/imgs/img2.png" alt="Image 2" height="100"
                      class="img-fluid img-thumbnail img-mar">
                    <img src="../public/imgs/img3.png" alt="Image 3" height="100"
                      class="img-fluid img-thumbnail img-mar">
                    <img src="../public/imgs/img4.png" alt="Image 4" height="100"
                      class="img-fluid img-thumbnail img-mar">
                  </marquee>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Marquee parent div End -->
    </div>
    <footer>
      <div class="container-fluid foot text-center fw-lighter">
        <span>&copy;</span> Collegedunia 2023
      </div>
    </footer>
  </main>
  <script src="../controller/registrationForm.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>