<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Get counselling for multiple MBA courses from over 1000 Colleges in India.">
  <title>MBA Colleges</title>
  <link rel="stylesheet" href="CSS/index.css" />
  <link rel="stylesheet" href="CSS/navbar.css" />
  <link rel="stylesheet" href="CSS/search-comp.css" />
  <link rel="stylesheet" href="CSS/card-parent.css" />
  <link rel="stylesheet" href="CSS/card-grid.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="preload" href="CSS/form-div.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="CSS/form-div.css">
  </noscript>
  <link rel="preload" href="CSS/nav-style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="CSS/nav-style.css">
  </noscript>
  <link rel="preload" href="CSS/form-modal.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="CSS/form-modal.css">
  </noscript>
  <link rel="preload" href="CSS/register-modal.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="CSS/register-modal.css" />
  </noscript>
  <link rel="preload" href="CSS/hero-style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="CSS/hero-style.css" />
  </noscript>
  <link rel="preload" href="CSS/form-style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="CSS/form-style.css" />
  </noscript>
  <link rel="preload" href="CSS/footer-style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="CSS/footer-style.css" />
  </noscript>
  <link rel="preload" href="CSS/card-styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="CSS/card-styles.css" />
  </noscript>
</head>

<body>
  <main>
    <!-- NavBar Start -->
    <nav class="navbar navbar-expand-lg navbar-color">
      <div class="container-fluid d-flex justify-content-around">
        <!-- LOGO START -->
        <a class="brand navbar-brand" href="#">MBA Colleges</a>
        <!-- LOGO END -->
        <!-- CONTACT DIVS START -->
        <div class="d-flex justify-content-end">
          <!-- RESPONSIVE SIDEBAR FOR MOBILE START -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg"
            aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg"
            aria-labelledby="navbarOffcanvasLgLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="container">
              <div class="navbar-nav d-flex justify-content-around contact-group offcanvas-body row">
                <!-- CONTACT - EMAIL START -->
                <p class="col input-group">
                  <a href="mailto:help@email.com"
                    class="form-control text-decoration-none fs-6 fw-lighter font-monospace nav-contact-link helper-color"><svg
                      xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-envelope-at" viewBox="0 0 16 16">
                      <path
                        d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z" />
                      <path
                        d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z" />
                    </svg> Email Us</a>
                </p>
                <!-- CONTACT - EMAIL END -->
                <!-- CONTACT - PHONE START -->
                <!--  fs-6 fw-lighter font-monospace -->
                <p class="col input-group">
                  <a href="tel:7654321980"
                    class="form-control text-decoration-none fs-6 fw-lighter font-monospace nav-contact-link helper-color"><svg
                      xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-telephone" viewBox="0 0 16 16">
                      <path
                        d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg> Contact Us</a>
                </p>
                <!-- CONTACT - PHONE END -->
              </div>
            </div>
          </div>
        </div>
        <!-- CONTACT DIVS END -->
      </div>
    </nav>
    <!-- NavBar End -->
    <div class="bg-white">
      <section id="hero">
        <!-- Carousel as hero Start -->
        <div class="container-fluid">
          <div id="registerAlert"></div>
          <div class="row hero-internal">
            <div class="col-lg-8 hero-div">
              <div>
                <div class="card-body">
                  <div class="card-title">
                    <h3>Online MBA Degrees from <mark>World's top B-schools</mark></h3>
                  </div>
                  <div class="card-text">
                    <p>
                      Fast-forward your career with a coveted MBA degree. Get access to programs from recognised
                      universities across the world.
                    </p>
                    <ul>
                      <li>
                        AICTE, WES recognised & AACSB accredited
                      </li>
                      <li>
                        MBA programs with Specialisations
                      </li>
                      <li>
                        50% Average Hike across MBA programs
                      </li>
                    </ul>
                  </div>
                  <div class="d-flex">
                    <!-- BUTTON 1 : MODAL LAUNCHER : MODAL-1 START -->
                    <button type="button" class="btn btn-hero me-2" data-bs-toggle="modal"
                      data-bs-target="#registerModal">
                      Get Free Career Counselling
                    </button>
                    <!-- BUTTON 1 : MODAL LAUNCHER : MODAL-1 END -->
                    <!-- BUTTON 2 : FORM-2 HIGHLIGHTER START -->
                    <a href="#formTwo" class="btn btn-hero ms-2" target="_parent" rel="noopener noreferrer"
                      id="courseFormLnk" onclick="campaignHighlighter();return false">Contact Form</a>
                    <!-- BUTTON 2 : FORM-2 HIGHLIGHTER END -->
                  </div>
                  <!-- MODAL : MODAL-1 START -->
                  <div class="modal fade" id="registerModal" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="registerModalLabel">
                    <div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down">
                      <div class="modal-content" id="registerContent">
                        <button type="button"
                          class="btn-close d-flex flex-column-reverse align-self-end me-2 mt-2 close-btn"
                          data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="modal-body">
                          <form id="counsellingForm">
                            <div class="mb-3" id="registrationError"></div>
                            <div class="mb-3">
                              <label for="counsellingInputName" class="form-label"></label>
                              <div class="input-group">
                                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                                    <path
                                      d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
                                    <path
                                      d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z" />
                                  </svg></span>
                                <input type="text" class="form-control" id="counsellingInputName"
                                  name="counsellingInputName" aria-describedby="nameHelp" placeholder="Name"
                                  aria-placeholder="enter-name">
                              </div>
                            </div>
                            <div class="mb-3">
                              <label for="counsellingInputEmail" class="form-label"></label>
                              <div class="input-group">
                                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
                                    <path
                                      d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z" />
                                    <path
                                      d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z" />
                                  </svg></span>
                                <input type="email" class="form-control" id="counsellingInputEmail"
                                  name="counsellingInputEmail" aria-describedby="emailHelp" placeholder="Email"
                                  aria-placeholder="enter-email">
                              </div>
                            </div>
                            <div class="mb-3">
                              <label for="counsellingInputPhone" class="form-label"></label>
                              <div class="input-group">
                                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                    <path
                                      d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                  </svg></span>
                                <input type="tel" required class="form-control" id="counsellingInputPhone"
                                  name="counsellingInputPhone" placeholder="Phone No" aria-placeholder="enter-phone">
                              </div>
                            </div>
                            <div class="mb-3">
                              <label for="counsellingInputCity" class="form-label"></label>
                              <div class="input-group">
                                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                    <path
                                      d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                  </svg></span>
                                <input type="search" class="form-control" id="counsellingInputCity"
                                  name="counsellingInputCity" list="cities" placeholder="City"
                                  aria-placeholder="enter-city">
                                <datalist id="cities">
                                  <option value="Delhi NCR"></option>
                                  <option value="Pune"></option>
                                  <option value="Mumbai"></option>
                                  <option value="Hyderabad"></option>
                                  <option value="Chennai"></option>
                                  <option value="Bangalore"></option>
                                  <option value="Kolkata"></option>
                                  <option value="Shimla"></option>
                                  <option value="Chandigarh"></option>
                                  <option value="Lucknow"></option>
                                </datalist>
                              </div>
                            </div>
                          </form>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-submit" onclick="getUserDetails()">Continue</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- MODAL : MODAL-1 END -->
                </div>
              </div>
            </div>
            <div class="col-lg-4 form-div" id="formTwo">
              <h3 class="text-center">MBA Coaching</h3>
              <form id="registrationForm">
                <div class="mb-3">
                  <!-- Possibly a Dropdown -->
                  <label for="registrationInputCourse" class="form-label"></label>
                  <input type="text" class="form-control" id="registrationInputCourse" aria-describedby="courseHelp"
                    name="registrationInputCourse" placeholder="Course" aria-placeholder="enter-course">
                </div>
                <div class="row mb-3 border border-dark-subtle rounded p-2">
                  <div class="col-sm mb-1">
                    <small>Preferred Budget</small>
                    <label for="minFees" class="form-label"></label>
                    <div class="input-group">
                      <span class="input-group-text">&#8377;</span>
                      <input type="number" min="0" name="minFees" id="minFees" class="form-control"
                        aria-describedby="minFeesHelp" placeholder="Min" aria-placeholder="enter-min-fees">
                    </div>
                  </div>
                  <div class="col-sm mb-1">
                    <label for="maxFees" class="form-label"></label>
                    <div class="input-group">
                      <span class="input-group-text">&#8377;</span>
                      <input type="number" min="0" name="maxFees" id="maxFees" class="form-control"
                        aria-describedby="maxFeesHelp" placeholder="Max" aria-placeholder="enter-max-fees">
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="registrationInputCity" class="form-label"></label>
                  <input type="search" class="form-control" id="registrationInputCity" name="registrationInputCity"
                    list="cities" placeholder="&#127760; City" aria-placeholder="enter-preferred-city">
                  <datalist id="cities">
                    <option value="Delhi NCR"></option>
                    <option value="Pune"></option>
                    <option value="Mumbai"></option>
                    <option value="Hyderabad"></option>
                    <option value="Chennai"></option>
                    <option value="Bangalore"></option>
                    <option value="Kolkata"></option>
                    <option value="Shimla"></option>
                    <option value="Chandigarh"></option>
                    <option value="Lucknow"></option>
                  </datalist>
                </div>
                <div class="mb-3">
                  <label for="registrationInputCourses" class="form-label">Specialization Field</label>
                  <div>
                    <select multiple multiselect-search="true" multiselect-max-items="4" class="form-select"
                      name="registrationInputCourses" id="registrationInputCourses" aria-multiline="true"
                      aria-placeholder="enter-preferred-courses">
                      <option key="1" value="MBA (Finance)">MBA (Finance)</option>
                      <option key="2" value="MBA (IT)">MBA (IT)</option>
                      <option key="3" value="PGDM (HR)">PGDM (HR)</option>
                      <option key="4" value="MBA (Energy)">MBA (Energy)</option>
                      <option key="5" value="MBA (Operations)">MBA (Operations)</option>
                      <option key="6" value="MBA (Marketing)">MBA (Marketing)</option>
                      <option key="7" value="MBA (Entreprenuership)">MBA (Entreprenuership)</option>
                      <option key="8" value="MBA (Accounting)">MBA (Accounting)</option>
                      <option key="9" value="PGDM (Operations)">PGDM (Operations)</option>
                      <option key="10" value="MBA (Supply Chain Management)">MBA (Supply Chain Management)</option>
                    </select>
                  </div>
                </div>
                <noscript>
                  <div class="mb-3">
                    <fieldset id="registrationInputCourses">
                      <legend class="form-label">Specialization Field</legend>
                      <ul id="courses" class="list-group">
                        <li class="list-group-item">
                          <input key="1" type="checkbox" id="mbaFinance" name="specializedCourse"
                            class="form-check-input" value="MBA (Finance)" aria-describedby="mbaFinance"
                            aria-label="MBA (Finance)">
                          <label class="form-check-label" for="mbaFinance">MBA (Finance)</label>
                        </li>
                        <li class="list-group-item">
                          <input key="2" type="checkbox" id="mbaIt" name="specializedCourse" class="form-check-input"
                            value="MBA (IT)" aria-describedby="mbaFinance" aria-label="MBA (IT)">
                          <label class="form-check-label" for="mbaIt">MBA (IT)</label>
                        </li>
                        <li class="list-group-item">
                          <input key="3" type="checkbox" id="pgdmHR" name="specializedCourse" class="form-check-input"
                            value="PGDM (HR)" aria-describedby="pgdmHR" aria-label="PGDM (HR)">
                          <label class="form-check-label" for="pgdmHR">PGDM (HR)</label>
                        </li>
                        <li class="list-group-item">
                          <input key="4" type="checkbox" id="mbaEnergy" name="specializedCourse"
                            class="form-check-input" value="MBA (Energy)" aria-describedby="mbaEnergy"
                            aria-label="MBA (Energy)">
                          <label class="form-check-label" for="mbaEnergy">MBA (Energy)</label>
                        </li>
                        <li class="list-group-item">
                          <input key="5" type="checkbox" id="mbaOperations" name="specializedCourse"
                            class="form-check-input" value="MBA (Operations)" aria-describedby="mbaOperations"
                            aria-label="MBA (Operations)">
                          <label class="form-check-label" for="mbaOperations">MBA (Operations)</label>
                        </li>
                        <li class="list-group-item">
                          <input key="6" type="checkbox" id="mbaMarketing" name="specializedCourse"
                            class="form-check-input" value="MBA (Marketing)" aria-describedby="mbaMarketing"
                            aria-label="MBA (Marketing)">
                          <label class="form-check-label" for="mbaMarketing">MBA (Marketing)</label>
                        </li>
                        <li class="list-group-item">
                          <input key="7" type="checkbox" id="mbaEntreprenuership" name="specializedCourse"
                            class="form-check-input" value="MBA (Entreprenuership)"
                            aria-describedby="mbaEntreprenuership" aria-label="MBA (Entreprenuership)">
                          <label class="form-check-label" for="mbaEntreprenuership">MBA (Entreprenuership)</label>
                        </li>
                        <li class="list-group-item">
                          <input key="8" type="checkbox" id="mbaAccounting" name="specializedCourse"
                            class="form-check-input" value="MBA (Accounting)" aria-describedby="mbaAccounting"
                            aria-label="MBA (Accounting)">
                          <label class="form-check-label" for="mbaAccounting">MBA (Accounting)</label>
                        </li>
                        <li class="list-group-item">
                          <input key="9" type="checkbox" id="pgdmOperations" name="specializedCourse"
                            class="form-check-input" value="PGDM (Operations)" aria-describedby="pgdmOperations"
                            aria-label="PGDM (Operations)">
                          <label class="form-check-label" for="pgdmOperations">PGDM (Operations)</label>
                        </li>
                        <li class="list-group-item">
                          <input key="10" type="checkbox" id="mbaScm" name="specializedCourse" class="form-check-input"
                            value="MBA (Supply Chain Management)" aria-describedby="mbaScm"
                            aria-label="MBA (Supply Chain Management)">
                          <label class="form-check-label" for="mbaScm">MBA (Supply Chain Management)</label>
                        </li>
                      </ul>
                    </fieldset>
                  </div>
                </noscript>
                <div class="mb-3 me-3 d-flex justify-content-end">
                  <button type="button" class="btn btn-form" onclick="getCampaignFormDetails()">Submit</button>
                </div>

              </form>
            </div>
          </div>
        </div>
        <!-- Carousel as hero End -->
      </section>
      <!-- Search Element for Colleges Start -->
      <section id="search-colleges">
        <div class="col-padder">
          <p class="text-start pb-4">UNIVERSITY PARTNERS</p>
          <p class="text-start fs-2">Learn from <mark class="text-highlight">Top University Partners</mark>
          </p>
          <form class="card-style d-flex justify-content-evenly align-items-center">
            <!-- SEARCH BAR & SEARCH BUTTON START -->
            <label for="searchColleges"></label>
            <input type="search" role="searchbox" name="searchColleges" id="searchColleges" class="search-control search-box"
              aria-describedby="searchColleges" aria-label="Search Colleges" aria-placeholder="Search Colleges">
            <a href target="_parent" class="text-decoration-none btn search-btn" role="search" onclick="return false;"
              rel="noopener noreferrer" aria-label="Search" title="Search colleges or courses"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg></a>
            <!-- SEARCH BAR & SEARCH BUTTON END -->
          </form>
        </div>
      </section>
      <!-- Search Element for Colleges End -->
      <!-- Card Grid Start -->
      <section id="cardGrid">
        <div class="col-padder">
          <p class="text-start pb-4">PROGRAMS</p>
          <p class="text-start fs-2">Top Programs</p>
          <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
              <div class="col">
                <div class="card card-dim product-card">
                  <div class="card-body d-flex flex-column justify-content-between">
                    <div class="d-flex justify-content-start align-items-center">
                      <img src="https://placehold.co/75/orange/white?text=CollegeImg" alt="placeholder img"
                        aria-label="placeholder img" class="pe-2" width="75" height="75">
                      <h5 class="card-title ps-2" id="cardTitle">Liverpool Business School</h5>
                    </div>
                    <ul class="list-group list-group-flush card-inner">
                      <li class="list-group-item">Global MBA+ Certification</li>
                      <li class="list-group-item">18 Months EMI From ₹ 10625/-</li>
                      <li class="list-group-item">Bachelor's 1 Year Exp</li>
                    </ul>
                    <div class="d-flex justify-content-end align-items-center">
                      <a href="#formTwo" id="courseFormLnk" target="_self" onclick="campaignHighlighter()"
                        class="btn product-button" rel="noopener noreferrer" aria-labelledby="cardTitle">Get
                        Brochure</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-dim product-card">
                  <div class="card-body d-flex flex-column justify-content-between">
                    <div class="d-flex justify-content-start align-items-center">
                      <img src="https://placehold.co/75/orange/white?text=CollegeImg" alt="placeholder img"
                        aria-label="placeholder img" class="pe-2" width="75" height="75">
                      <h5 class="card-title ps-2" id="cardTitle">Deakin Business School</h5>
                    </div>
                    <ul class="list-group list-group-flush card-inner">
                      <li class="list-group-item">Global MBA+ Certification</li>
                      <li class="list-group-item">24 Months EMI From ₹ 9625/-</li>
                      <li class="list-group-item">Bachelor's 3 Year Exp</li>
                    </ul>
                    <div class="d-flex justify-content-end align-items-center">
                      <a href="#formTwo" id="courseFormLnk" target="_self" onclick="campaignHighlighter()"
                        class="btn product-button" rel="noopener noreferrer" aria-labelledby="cardTitle">Get
                        Brochure</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-dim product-card">
                  <div class="card-body d-flex flex-column justify-content-between">
                    <div class="d-flex justify-content-start align-items-center">
                      <img src="https://placehold.co/75/orange/white?text=CollegeImg" alt="placeholder img"
                        aria-label="placeholder img" class="pe-2" width="75" height="75">
                      <h5 class="card-title ps-2" id="cardTitle">Golden Gate University</h5>
                    </div>
                    <ul class="list-group list-group-flush card-inner">
                      <li class="list-group-item">Global MBA+ Certification</li>
                      <li class="list-group-item">Scholarship Based</li>
                      <li class="list-group-item">Any Bachelor's</li>
                    </ul>
                    <div class="d-flex justify-content-end align-items-center">
                      <a href="#formTwo" id="courseFormLnk" target="_self" onclick="campaignHighlighter()"
                        class="btn product-button" rel="noopener noreferrer" aria-labelledby="cardTitle">Get
                        Brochure</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-dim product-card">
                  <div class="card-body d-flex flex-column justify-content-between">
                    <div class="d-flex justify-content-start align-items-center">
                      <img src="https://placehold.co/75/orange/white?text=CollegeImg" alt="placeholder img"
                        aria-label="placeholder img" class="pe-2" width="75" height="75">
                      <h5 class="card-title ps-2" id="cardTitle">BIMTECH (Birla Institute of Management Technology)</h5>
                    </div>
                    <ul class="list-group list-group-flush card-inner">
                      <li class="list-group-item">PGDM</li>
                      <li class="list-group-item">24 Months EMI From ₹ 6500/-</li>
                      <li class="list-group-item">50% Marks in Bachelor's</li>
                    </ul>
                    <div class="d-flex justify-content-end align-items-center">
                      <a href="#formTwo" id="courseFormLnk" target="_self" onclick="campaignHighlighter()"
                        class="btn product-button" rel="noopener noreferrer" aria-labelledby="cardTitle">Get
                        Brochure</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-dim product-card">
                  <div class="card-body d-flex flex-column justify-content-between">
                    <div class="d-flex justify-content-start align-items-center">
                      <img src="https://placehold.co/75/orange/white?text=CollegeImg" alt="placeholder img"
                        aria-label="placeholder img" class="pe-2" width="75" height="75">
                      <h5 class="card-title ps-2" id="cardTitle">IMT Ghaziabad</h5>
                    </div>
                    <ul class="list-group list-group-flush card-inner">
                      <li class="list-group-item">Advanced General Management</li>
                      <li class="list-group-item">11 Months EMI From ₹ 3450/-</li>
                      <li class="list-group-item">50% Marks in Bachelor's</li>
                    </ul>
                    <div class="d-flex justify-content-end align-items-center">
                      <a href="#formTwo" id="courseFormLnk" target="_self" onclick="campaignHighlighter()"
                        class="btn product-button" rel="noopener noreferrer" aria-labelledby="cardTitle">Get
                        Brochure</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-dim product-card">
                  <div class="card-body d-flex flex-column justify-content-between">
                    <div class="d-flex justify-content-start align-items-center">
                      <img src="https://placehold.co/75/orange/white?text=CollegeImg" alt="placeholder img"
                        aria-label="placeholder img" class="pe-2" width="75" height="75">
                      <h5 class="card-title ps-2" id="cardTitle">OP Jindal Global University</h5>
                    </div>
                    <ul class="list-group list-group-flush card-inner">
                      <li class="list-group-item">Global MBA+ Certification</li>
                      <li class="list-group-item">12 Months EMI From ₹ 5000/- per month</li>
                      <li class="list-group-item">Bachelor's with 50% Marks</li>
                    </ul>
                    <div class="d-flex justify-content-end align-items-center">
                      <a href="#formTwo" id="courseFormLnk" target="_self" onclick="campaignHighlighter()"
                        class="btn product-button" rel="noopener noreferrer" aria-labelledby="cardTitle">Get
                        Brochure</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center pt-2">
              <a href="#"
                class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                onclick="return false" target="_self" rel="noopener noreferrer" aria-label="Show More">Show More</a>
            </div>
          </div>
        </div>
      </section>
      <!-- Card Grid End -->
      <!-- SEO Content Start -->
      <section id="content">
        <div class="col-padder">
          <p class="text-start fs-2">Our Programs are <mark class="text-highlight">Accredited !</mark></p>
          <div class="card" id="seoContent">
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque. Aliquet
                bibendum
                enim facilisis gravida neque convallis. Orci ac auctor augue mauris augue neque gravida in. Mi sit amet
                mauris commodo quis imperdiet massa tincidunt. Justo nec ultrices dui sapien eget mi proin sed libero.
                Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc. Nisl nunc mi ipsum
                faucibus
                vitae aliquet nec. Dis parturient montes nascetur ridiculus mus mauris. Potenti nullam ac tortor vitae
                purus faucibus. Magna sit amet purus gravida quis blandit. Sit amet volutpat consequat mauris nunc
                congue.
                Massa placerat duis ultricies lacus. Blandit turpis cursus in hac habitasse platea dictumst quisque
                sagittis. Turpis cursus in hac habitasse platea dictumst quisque sagittis purus.
              </p>
              <p class="card-text">
                Pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus. Cras pulvinar mattis nunc
                sed blandit. Enim sit amet venenatis urna cursus eget nunc scelerisque. Dolor sit amet consectetur
                adipiscing elit duis tristique sollicitudin nibh. Neque vitae tempus quam pellentesque nec nam aliquam.
                In
                egestas erat imperdiet sed euismod nisi porta. Et netus et malesuada fames ac turpis. Ultrices vitae
                auctor eu augue ut lectus. Molestie at elementum eu facilisis sed odio. Maecenas volutpat blandit
                aliquam
                etiam erat velit scelerisque in. Blandit cursus risus at ultrices mi. Faucibus ornare suspendisse sed
                nisi
                lacus sed. Adipiscing tristique risus nec feugiat in fermentum posuere urna. Praesent elementum
                facilisis
                leo vel. Purus sit amet luctus venenatis.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- SEO Content End -->
    </div>
    <footer>
      <div class="container-fluid foot text-center fw-lighter foot-text">
        <span>&copy;</span> Collegedunia 2023
      </div>
    </footer>
  </main>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="../controller/registrationForm.js"></script>
  <script defer>
    if (screen && screen.width > 991) {
      document && document.write(`<script defer src="../lib/multiselect-dropdown.js"><\/script>`);
    }
  </script>
</body>

</html>